body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    color: #4CAF50;
    text-align: center;
}
img {
    border-radius: 50%; /* Makes the image circular */
    border: 3px solid #FFD100; /* Adds a yellow border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow */
}